<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation</title>
</head>
<body class="component">
  <img src="" >
  <h1>Why We here</h1>
  <p>Anudip Foundation beneficiaries, youth and women, are from high-need, marginalized communities; they may be religious minorities, tribals, political refugees, people with disabilities or victims of trafficking. Recognized as an NGO for women and needy, Anudip leads its beneficiaries through a process of continuous improvement, in-depth and diverse training and continuous mentoring at the various skill development training centres across India.</p>
   <br>
</body>
<app-about>Copyright HIMANSHU SHUKLA 2022©</app-about>
<app-courses></app-courses>
<app-contact></app-contact>
</html>



